apiVersion: apps/v1
kind: Deployment
metadata:
  name: spc
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java
  template:
    metadata:
      labels:
       app: java
    spec:
      containers:
        - name: java
          image: rajgandhi123/petclinic:v1
          ports:
            - containerPort: 8080